/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*My styling*/
body{
  padding: 26px 26px 26px 29px;
  font-family: 'Roboto', arial, sans-serif;
  position: relative;
}
/*********************/
/*Search Bar*/
nav {
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: minmax(auto,5%) minmax(700px,80%) minmax(150px,15%);
  border-bottom: 1px solid rgba(220,220,220);
}
nav #logo{
  grid-row: 1;
  grid-column: 1;
  object-fit: contain;
  width: 92px;
  height: 32px;
  /*padding: 4px 28px 0 30px;*/
}
nav #search-bar input[type="text"] {
  height: 40px;
  width: 560px;
  padding: 0 40px;
  margin-left: 20px;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 60px;
}
nav #buttons{
  display: flex;
  align-items: center;
  margin-left: auto;
}

 nav .app-icon{
   color: grey;
   background: none;
   border: none;
   padding: 0;
 }

 nav .app-icon:hover{
   color: black;
 }
nav .sign-in{
  font-weight: bold;
  padding: 7px 13px 8px 13px;
  margin-left: 15px;
  font-size: 13px;
  text-decoration:none;
  color: white;
  background-color:rgb(56, 142, 212);
  border-radius: 2px;
}
nav #search-bar ul li:nth-last-child(2){
  padding-top: 12px;
}

/*Search Bar*/
/*********************/
/*Links below Search Bar*/
nav #links{
  grid-row: 2;
  grid-column: 2;
  padding-left: 30px;
  padding-bottom: 6px;
  
}

nav #links ul li{
  float: left;
  padding: 20px 15px 12px 15px;
  font-size: 13px;
  color: grey;
}

nav #links ul li:hover{
  color: black;
}
nav #links ul li:first-child{
  color:rgb(56, 142, 212); 
  font-weight: bold;
  border-bottom: 3px solid rgb(56, 142, 212);
}
nav #links ul li:nth-last-child(2){
  padding-left: 105px;
}
/*Links below Search Bar*/
/*********************/
/*Results*/
#results{
  display: grid;
  grid-template-columns: minmax(100px,6%) minmax(620px,34%) 60%;
  padding: 15px 7px;
  margin-left: 10px;
}
#result-num{
  padding-bottom: 20px;
  font-size: 12px;
  color: grey;
  letter-spacing: 0.3px;
  grid-column: 2;
 
}
#results .result{
  grid-column: 2;
  margin-bottom: 25px;
}

#results .result a {
  text-decoration: none;
}

#results .result a h1{
  padding-bottom: 5px;
  font-size: 18px;
  text-decoration: none;
  color: rgb(0, 18, 180);
}

#results .result a p{
  font-size: 14px;
  color: rgb(0, 104, 0);
}

#results .result a h1:hover{
  text-decoration: underline;
}

#results .result a p i{
  font-size: 20px;
}
#results .result p{
  word-wrap: break-word;
  font-size: small;
  line-height: 1.54;
  color: #545454;
}
/*Results*/
/*********************/
/*Related Searches*/
.related-searches{
  border: 1px solid rgb(230, 230, 230);
  border-radius: 10px;
  grid-column: span 2;
  margin-left: 12%;
  margin-bottom: 30px;
  padding: 10px 10px 15px 10px;
}
.related-searches p{
  padding-bottom: 8px;
  font-size: 12px;
  color: grey;
  letter-spacing: 0.3px;
}
.related-searches h1 {
  padding-bottom: 15px;
}

.related-searches .related-search{
  float: left;
  padding-right: 15px;
}
.related-searches .related-search a{
  text-decoration: none;
  color: black;
}

.related-searches .related-search a p{
  text-decoration: none;
  color: blue;
}

.related-searches #odin{
  object-fit: cover;
  object-position: 67% 0;
  width: 72px;
  height: 72px;
}
.related-searches #w3s{
  object-fit: cover;
  object-position: 50% 0;
  width: 72px;
  height: 72px;
}
.related-searches #webnode{
  object-fit: cover;
  object-position: 50% 0;
  width: 72px;
  height: 72px;
}
/*Related Searches*/
/*********************/
/*Page-Nav Bar*/
#page-nav{
  grid-column: 2;
  padding-left: 150px;
  margin-bottom: 60px;
}
#page-nav #g-letter{
  display: inline-block;
  width: 28px;
  height: 52px;
  overflow: hidden;
  margin-bottom: 3px;
}

#page-nav .letter-container{
  display: inline-block;
  margin-left: -4px;
  text-align: center;
  font-family: 'Roboto', arial, sans-serif;
  
}
#page-nav .letter-container a{
  text-decoration: none;
  color: #4285f4;
}
#page-nav .letter-container a:hover{
  text-decoration: underline;
}
#page-nav #o-crop-selected, #page-nav #o-crop{
  display: inline-block;
  width: 20px;
  height: 40px;
  overflow: hidden;
}
#page-nav #gle-crop{
  display: inline-block;
  width: 71px;
  height: 40px;
  overflow: hidden;
}
#page-nav #g-letter img{
  object-position: none;
  object-position: -24px 0;
  
}
#page-nav #o-crop-selected img{
  object-position: none;
  object-position: -53px 0;
}
#page-nav #o-crop img{
  object-position: none;
  object-position: -73px 0;
}
#page-nav #gle-crop img{
  object-position: none;
  object-position: -96px 0;
}
#page-nav .gle{
  text-align: right;
}

/*Page-Nav Bar*/
/*********************/
/*Footer*/
footer{
  background-color: #f2f2f2;
  color: #222;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-left: 150px;
  height: 60px;
}
footer p{
  font-weight: bold;
  font-size: 12px;
}
footer p a, footer ul li a{
  font-weight: normal;
  text-decoration: none;
  color: #5f6368;
}
footer ul li a:hover{
  color: black;
}
footer p a:hover{
  color: black;
}
footer .material-icons{
  font-size: 12px;
  padding-right: 3px;
  color: #9e9e9e;;
}
footer ul li{
  float: left;
  padding: 20px 30px 10px 0;
  font-size: 12px;

}
/*Footer*/
/*********************/
